body 
{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.6em;
	background-color: #e8e8e8;
	font-size: medium;
}

#inputBlock
{
	margin-top: 6%;
	margin-left: 4%;
}

#selectionBlock
{
	margin-left: 10%;

}

input
{
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    margin-left: 5%;
}

input.date
{
	margin-top: 1%;
}

label.date
{
}

select
{
	padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

select.first
{
	padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-left: 20%;
}

/* Adding Class:
HTML: <p class="bacon">Example</>
CSS: p.bacon {}; */